* {
  padding: 0;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
header {
  background-color: #01cafe;
  height: 95px;
}
.Logo {
  margin-left: 300px;
  padding-top: 20px;
  size: 50%;
}
.Logo > img {
  width: 100px;
}

.menu {
  width: 1000px;
  margin-left: 30px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  bottom: 70px;
  left: 200px;
  text-align: center;
}

.menu > li {
  width: 100px;
  margin-right: 60px;
  margin-top: 20px;
  font-size: 19px;

  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
/*.menu > li > a*/
ul > li > a {
  color: white;
  display: inline-block;
  position: relative;
}
ul > li > a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: rgba(247, 250, 250, 0.918);
  transition: all 0.5s;
}
ul > li > a:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: rgba(247, 251, 251, 0.895);
  transition: all 0.5s;
}
ul > li > a:hover:after {
  width: 50%;
}
ul > li > a:hover:before {
  width: 50%;
}

.Cart_Logo {
  margin-left: 50px;
}

.sect1 {
  text-align: center;
}
.sect1 > .my_page {
  color: #01cafe;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}
